/* CSS BY Eduardo Tan */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

/* ROOT VARIABLES */
:root {
    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;
}

/* GLOBAL STYLES (Mobile First Design) */
body {
    font-family: 'Playfair Display';
    color: var(--midnight-blue);
    background-color: var(--soft-white);
    font-size: 1.1em;
    font-weight: 550;
}
header, footer {
    color: var(--soft-white);
    background-color: var(--midnight-blue);
    text-align: center;
    padding: 1.5em;
}
header img {
    width: 40%;
}
h1 {
    font-size: 4em;
}
header p {
    padding-top: .5em;
    font-size: 1.2em;
    font-style: italic;
}
nav {
    background-color: var(--champagne-gold);
    display: flex;
    justify-content: space-evenly;
    padding: .5em;
    font-size: 1.6em;
}
nav a {
    font-weight: 900;
    color: var(--midnight-blue);
}
main {
    padding: 1.5em;
}
main > section {
    padding: 1em 0;
    border-bottom: 3px solid var(--champagne-gold);
}
h2 {
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 5px;
}
h3 {
    font-size: 1.8em;
}
#about p {
    padding: .4em 0;
}
#offerings div, #gallery a {
    background-color: var(--olive-green);
    color: var(--soft-white);
    display: block;
    padding: 1em;
    border-radius: 5px;
}
#offerings div, #galleryImages div {
    margin: 1em 0;
    box-shadow: 2px 2px 5px var(--dark-charcoal);
}
#offerings div ul {
    margin-left: 1em;
}
#offerings p {
    margin-top: .2em;
}
#galleryImages {
    padding-top: 1em;
}
#galleryImages div {
    display: block;
    text-align: center;
    font-style: italic;
    border-radius: 5px;
}
#galleryImages p {
    padding: 0.5em 0;
    margin: .25em;
}
#galleryImages img {
    border-radius: 5px 5px 0 0;
    width: 100%;
}
#gallery a {
    text-align: center;
    font-weight: bold;
}
footer a {
    color: var(--champagne-gold);
    font-weight: bold;
}


/* MEDIA QUERY (Medium) */
@media screen and (min-width: 600px) {
    main {
        padding: 1.5em 2em;
    }
    header img {
        width: 225px;
    }
    nav a:hover {
        color: var(--olive-green);
    }
    h3 {
        font-size: 1.6em;
    }
    #offerings, #galleryImages {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        padding-bottom: 1.5em;
    }
    #offerings div, #galleryImages div {
        margin: 0;
    }
    #offerings h2, #monthlyBasket {
        grid-column: 1 / -1;
    }
    #galleryImages {
        font-size: .9em;
    }
    #gallery a:hover {
        background-color: var(--midnight-blue);
    }
    footer a:hover {
        color: var(--olive-green);
    }
}

/* MEDIA QUERY (Large) */
@media screen and (min-width: 900px) {
    main {
        padding: 2em 3em;
    }
    #offerings, #galleryImages {
        gap: 1.5em;
    }
    #galleryImages {
        grid-template-columns: 1fr 1fr 1fr;
        font-size: .8em;
    }
}

/* MEDIA QUERY (XL) */
@media screen and (min-width: 1200px) {
    main {
        padding: 2em 10em;
    }
    header img {
        width: 250px;
    }
    #galleryImages {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        font-size: 1em;
    }
}